.content {
    margin: 10px 20px;
}

.content .header {
    background-color: #dadada;
    border-radius: 10px;
    text-align: center;
    height: 40px;
    margin-bottom: 20px;
}

.header h1 {
    font-size: 18px;
    margin-top: 10px;
    font-weight: 800;
}

.content .content-map {
    background-color: #f9f9f9;
    padding: 20px 0;
    max-height: 540px;
    border-radius: 10px;
    overflow: hidden;
}

.content .map {
    max-height: 85vh;
    overflow: auto;
}

@media (max-height: 768px) {
    .btn-toogle {
        margin-left: -15px;
    }
}